/* 
------------------- Word boss -------------------
*/

.word-boss {
	width: 100%;
	display: flex;
	justify-content: center;

	&__avatar {
		width: 545px;
		height: 667px;
		img {
			width: 545px;
			height: 667px;
		}
	}
	&__content {
		width: 895px;
		min-height: 667px;
		background-image: url(../img/boss-bg.jpg);
		background-position: top center;
		background-repeat: repeat;
		padding: 100px 0 0 97px;
	}
	&__position {
		color: #65b5fe;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	&__name {
		color: #ffffff;
		font-size: 48px;
		font-weight: 900;
		margin-bottom: 68px;
	}
	&__text {
		color: #fafafa;
		font-size: 22px;
		font-weight: 400;
		font-style: italic;
		margin-bottom: 72px;
		border-left: 5px solid #65b5fe;
		padding-left: 25px;
	}
	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 400px;
		height: 58px;
		box-shadow: 0 21px 21px rgba(13, 37, 123, 0.36);
		background-color: #ffffff;
		background-image: linear-gradient(
			to top,
			#4d6fac 0%,
			#65b5fe 99%,
			#65b5fe 100%
		);
		color: #ffffff;
		font-size: 24px;
		font-weight: 600;
		line-height: 18px;
		margin: 0 auto;
		margin-bottom: 43px;
	}
}
